body {

  font-family: Arial, Helvetica, sans-serif;

  padding: 15px;

  background: #f2f2f2;

}



h2 {

  text-align: center;

}



input {

  width: 100%;

  padding: 12px;

  font-size: 16px;

  border-radius: 6px;

  border: 1px solid #ccc;

}



#resultado {

  margin-top: 20px;

}



.card {

  background: white;

  padding: 15px;

  border-radius: 6px;

  margin-bottom: 15px;

}



.card h3 {

  margin-top: 0;

  color: #007acc;

}



.card hr {

  border: none;

  border-top: 1px solid #ddd;

}
